<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.laochou.diagnose.mapper.CommentMapper">

    <select id="getCommentsByArticleId" resultType="cn.laochou.diagnose.pojo.Comment" parameterType="int">
        select * from comment where article_id = #{articleId} order by create_time desc;
    </select>

    <insert id="insertComment" parameterType="cn.laochou.diagnose.pojo.Comment">
        insert into comment(article_id, user_id, content, create_time, update_time)
        values(#{articleId}, #{userId}, #{content}, #{createTime}, #{updateTime});
    </insert>

    <select id="selectAllComment" resultType="cn.laochou.diagnose.pojo.Comment">
        select * from comment;
    </select>

    <update id="updateComment" parameterType="cn.laochou.diagnose.pojo.Comment">
        update comment set content = #{content} where id = #{id}
    </update>

    <delete id="delCommentById">
        delete from comment where id = #{id}
    </delete>

    <select id="searchCommentByCondition" parameterType="cn.laochou.diagnose.search.CommentSearchCondition" resultType="cn.laochou.diagnose.pojo.Comment">
        select * from comment where 1 = 1
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
        <if test="articleId != null and articleId != ''">
            and article_id = #{articleId}
        </if>
        <if test="content != null and content != ''">
            and content like CONCAT('%', #{content}, '%')
        </if>
    </select>

</mapper>